<style>body {
    font-family: Arial, sans-serif;
    margin: 20px;
    padding: 20px;
    background-color: #f4f4f4;
}

h1,
h2,
h3,
p {
    margin: 0;
}

header {
    text-align: center;
    background-color: #3498db;
    padding: 10px;
    color: #fff;
}

section {
    margin-bottom: 20px;
}

.contact {
    display: flex;
    justify-content: space-between;
}

.education,
.experience {
    margin-bottom: 20px;
}

.education h3,
.experience h3 {
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.margin-bottom {
    margin-bottom: 15px;
}

.border-bottom {
    border-bottom: 2px solid #3498db;
}

</style>